<div class="left_col scroll-view"  style="background-color:#05366B;">
  <div class="navbar nav_title" style="border: 0;" style="background-color:#05366B;" >
    <a href="index.html" class="site_title"  style="background-color:#05366B;"><i class="fa fa-spinner" style="background-color:#05366B;"></i> <span>Cryptoum</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ user }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu"  style="background-color:#05366B;">
    <div class="menu_section"  style="background-color:#05366B;">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="http://127.0.0.1:8000/app/"><i class="fa fa-home"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
        
        </li>
        <li><a href="http://127.0.0.1:8000/buy/"><i class="fa fa-money"></i> Buy/Sell <span class="fa fa-chevron-down"></span></a>
         
        </li>
        <li><a href="buy.html"><i class="fa fa-cc-visa"></i> Buy/Sell Short <span class="fa fa-chevron-down"></span></a>
     
        </li>
        <li><a href="projects.html"><i class="fa fa-credit-card"></i> Send Paymend<span class="fa fa-chevron-down"></span></a>
         
        </li>
        <li><a href="contacts.html"><i class="fa fa-bank"></i>Accounts <span class="fa fa-chevron-down"></span></a>
        
        </li>
        <li><a href="general_elements.html"><i class="fa fa-sliders"></i>Tools <span class="fa fa-chevron-down"></span></a>
         
        </li>
          <li><a href="chartjs.html"><i class="fa fa-line-chart"></i>Charts <span class="fa fa-chevron-down"></span></a>
         
        </li>
          <li><a href="profile.html"><i class="fa fa-cog"></i>Settings <span class="fa fa-chevron-down"></span></a>
         
        </li>
      </ul>
    </div>
    <div class="menu_section"  style="background-color:#05366B;"><hr>
      <h3>Help&Support</h3>
    
    </div>
  </div>
  <!-- /sidebar menu -->


</div>
